* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  background: linear-gradient(to right bottom, #ff0505, #ff0505);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #fff;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px rgb(0, 0, 0);
  margin-bottom: 10px;
}

.header h1 {
  color: #ff0505;
  text-align: center;
  margin: 30px 0;
}

/* .form-input {
  margin-top: 20px;
} */

.task-input {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid #ff0505;
  border-radius: 10px;
}

.button-add {
  width: 100px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #ff0505;
  cursor: pointer;
  color: #fff;
}

/* .button-add:hover {
  color: #ffffff;
} */

.list-item {
  display: flex;
  margin: 20px 0;
  border: 1px solid #ff0505;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-complete {
  color: #ff0505;
  margin-left: 10px;
  padding-right: 12px;
}

.button-edit {
  color: #ff0505;
  margin-left: 20px;
}

.button-delete {
  color: #ff0505;
  margin-left: 25px;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}

.list {
  width: 220px;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus,
button:focus {
  outline: none;
}
